#cad-form {
    display: flex;
    flex-direction: row;
    gap: 50px;
    background-color: rgb(252, 250, 250);
    box-shadow: 1px 1px 1px 1px black;
    margin: 200px;
    margin-top: 60px;
    margin-bottom: 0px;
}

#cad-form div img {
    height: 550px;
    width: 550px;
}

#form-footer {
    padding: 20px;
}

#mensagemErro {
    display: none;
    border-radius: 5px;
    background-color: red;
    opacity: 0.6;
    text-align: center;
    color: white;
    padding: 15px;
}

#form {
    display: flex;
    flex-direction: column;
}