* {
    padding: 0px;
    margin: 0px;
}

.login-body {
    position: relative;
    background-image: url("http://localhost/deucerto/phpup/Model_View_Controller/public/img/img1.webp");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 0;
}

#login-form {
    position: relative;
    z-index: 1;
    opacity: 1;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
    background-color: #fff;
    color: black;
    padding: 50px;
    border-radius: 15px;
}

#loginForm {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

#loginForm div {
    padding: 5px;
}

.logo-img {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.aling {
    padding: 10px;
}

#senha, #email, #confirm{
    box-shadow: 1px 1px 1px black;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer h6 {
    display: flex;
    flex-direction: row;
    gap: 2px;
}

.footer h6 p {
    color: blue;
}

.error {
    font-size: 10px;
}

#senhaModel {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 410px;
    z-index: 1;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1PX black;
    background-color: #fff;
    transform: translateY(-100%);
    transition: transform 0.5s ease-in-out;
    overflow: hidden;
}

.dec {
    border: 1px solid black;
    border-radius: 15px;
    padding: 30px;
}

#message {
    color: redz;
}

#repass {
    color: #fff;
    box-shadow: 1px 1px 1px black;
}

#repass-close {
    box-shadow: 1px 1px 1px black;
}

#codeModel {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50px;
    left: 540px;
    z-index: 1;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 1px 1px 1px 1PX black;
    background-color: #fff;
    /* transform: translateY(-100%);
    transition: transform 0.5s ease-in-out; */
    overflow: hidden;
}

#verifique {
    color: #fff;
    box-shadow: 1px 1px 1px black;
}

#close-verifique {
    box-shadow: 1px 1px 1px black;
}
