* {
    padding: 0;
    margin: 0;
}

form {
    padding: 50px;
}

.pcorpo {
    background-color: rgb(121, 121, 123);
    padding: 25px;
}

#pfinal {
    background-color: black;
    color: white;
    padding: 25px;
}

.hinfo {
    border: 3px solid white;
    padding: 5px;
    color: white;
    /*margin-right: 900px;*/
}

.infos {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.lateral {
    display: flex;
    flex-direction: column;
    margin-right: 1380px;
    background-color: rgb(32, 32, 33);
}

.lateral a {
    text-decoration: none;
    color: white;
}

.loader {
    width: 45px;
    aspect-ratio: 1;
    --c: no-repeat linear-gradient(#000 0 0);
    background: 
      var(--c) 0%   50%,
      var(--c) 50%  50%,
      var(--c) 100% 50%;
    background-size: 20% 100%;
    animation: l1 1s infinite linear;
  }
  @keyframes l1 {
      0%  {background-size: 20% 100%,20% 100%,20% 100%}
      33% {background-size: 20% 10% ,20% 100%,20% 100%}
      50% {background-size: 20% 100%,20% 10% ,20% 100%}
      66% {background-size: 20% 100%,20% 100%,20% 10% }
      100%{background-size: 20% 100%,20% 100%,20% 100%}
  }

@media only screen and (max-width: 1000px) {

.infos {
    display: flex;
    flex-direction: column;
    gap: 10px;
 }
}